.header__auth {
  color: white;
  margin: auto 0 auto auto;
  display: flex;
  gap: 24px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
@media screen and (max-width: 910px) {
  .header__auth {
    margin: auto 30px auto auto;
  }
}
@media screen and (max-width: 500px) {
  .header__auth {
    grid-row: 2 / 3;
  }
}
