.profile {
  margin-top: 37px;
  display: grid;
  grid-template-columns: 120px minmax(150px, auto) minmax(150px, 2fr);
  width: 100%;
  gap: 30px;
  align-items: center;
  justify-items: center;
  grid-template-areas: "avatar info add-button";
  position: relative;
}
@media screen and (max-width: 910px) {
  .profile {
    padding: 0 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
